    #memory {
        max-width: 40rem;
        word-wrap: break-word;
        flex-wrap: wrap;
    }

    #inputarea {
        min-width: 40rem;
        min-height: 50rem;
        flex-wrap: wrap;
    }

  